body {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  width: 100%;
}

main {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  background-color: white;
}

div {
  padding: 20px;
}

/* #texto-introdutorio {
    display: grid;
    grid-template-rows: 1fr 70px 1fr;
    justify-content: center;
    align-items: center;
} */

#texto-introdutorio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#texto-introdutorio > img {
  width: 70%;
  height: 50%;
  align-self: center;
}

#texto-introdutorio > p {
  font-size: 25px;
  text-align: center;
}

.desenvolvedores-img-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 25px;
  border: 1px solid black;
  text-align: center;
}

.imagens-desenvolvedores {
  width: 80%;
  height: 80%;
}

#foto-esquerda,
#foto-esquerda-2 {
  background-color: rgb(174, 199, 199);
  min-height: 464.633px;
}

#foto-direita,
#foto-direita-2 {
  background-color: rgb(59, 97, 98);
  min-height: 464.633px;
}

#alinhar-foto-direita,
#alinhar-foto-direita-2 {
  justify-self: end;
}

footer {
  margin-top: 15px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    background-color: white;
  }

  #texto-introdutorio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #texto-introdutorio > img {
    width: 70%;
    height: 50%;
    align-self: center;
    min-width: 262.067px;
    min-height: 182.867px;
    max-height: 200px;
  }

  #texto-introdutorio > p {
    font-size: 20px;
  }

  .desenvolvedores-img-text {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    font-size: 20px;
  }

  .desenvolvedores-img-text > img {
    grid-row: 1 / 2;
    justify-self: center;
  }

  #alinhar-foto-direita,
  #alinhar-foto-direita-2 {
    justify-self: center;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
  main {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    background-color: white;
  }

  #texto-introdutorio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #texto-introdutorio > img {
    width: 70%;
    height: 50%;
    align-self: center;
    min-width: 262.067px;
    min-height: 182.867px;
    max-height: 200px;
  }

  #texto-introdutorio > p {
    font-size: 20px;
  }

  .desenvolvedores-img-text {
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: none;
    font-size: 20px;
  }

  .desenvolvedores-img-text > img {
    grid-row: 1 / 2;
    justify-self: center;
  }

  #alinhar-foto-direita,
  #alinhar-foto-direita-2 {
    justify-self: center;
  }
}
